.blogPostCard {
  width: 70%;
  margin: 3rem 0 1rem 0;
}

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #e9eaed;
  padding: 0 1rem 1rem 1rem;
  margin: 0 2rem 3rem 1rem;
}

.blogHeader {
  text-align: center;
  background-color: #fff;
  width: 50%;
}

.blogCategory {
  display: block;
  font-size: 1rem;
  padding: 2rem 0;
}

.blogPostTile {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
  padding: 0 2rem;
  font-weight: 400;
}

.blogPostedBy {
  font-size: 0.7rem;
  font-style: italic;
  padding: 1rem 0;
  display: block;
}

.blogMore {
  font-size: 1.7rem;
  font-weight: 500;
  color: #169647;
  font-weight: 300;
  font-family: "Dancing Script", cursive;
  margin-top: 3rem;
}

.blogMore a {
  text-decoration: none;
  color: #169647;
}

.blogMore a:hover {
  color: #8bdfab;
}

.blogImgContainer {
  width: 50%;
}

.blogImgContainer img {
  width: 100%;
  height: 25rem;
}

/* ----------------------------@MediaQuery------------------------------------------ */
@media (max-width: 664px) {
  .blogPostCard {
    width: 100%;
  }

  .blogContainer {
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
  }

  .blogPostTile {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .blogImgContainer img {
    height: 15rem;
  }

  .blogCategory {
    padding: 1rem 0;
  }
}
