.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3rem 0 0 5rem;
}

.aboutTitle {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(46, 45, 45);
  margin: 3rem;
}

.abouImgCard img {
  height: 30rem;
  width: 30rem;
  box-shadow: 0 0 5px 1px rgb(7, 54, 3);
}

.aboutText {
  font-size: 1rem;
  text-align: left;
  letter-spacing: 0.1rem;
  color: rgb(20, 20, 20);
  margin: 2rem;
}

.aboutTextCenter {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(20, 20, 20);
  margin: 2rem;
}

/* ----------------------------@MediaQuery------------------------------------------ */
@media (max-width: 664px) {
  .aboutCard {
    width: 100%;
    margin: 2rem 2rem 0 0;
  }

  .abouImgCard img {
    height: 15rem;
    width: 15rem;
  }

  .aboutTitle {
    font-size: 2rem;
    margin: 2rem;
  }
}
