.mainContainer {
  background: #dcdfdf;
}

.mainHeader {
  padding: 1rem;
  text-align: center;
  color: #1b1b1b;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.mainLine {
  width: 10rem;
  height: 0.1rem;
  margin: auto;
  background-color: #55b81c;
  text-align: left;
}

.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainCard {
  width: 25rem;
  margin: 2rem;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgb(7, 54, 3);
}

.mainImg {
  width: 25rem;
  height: 25rem;
  opacity: 1;
  transition: 0.5s ease;
}

.mainImg:hover {
  opacity: 0.3;
}

.mainContent {
  color: rgb(221, 221, 221);
  padding: 2rem;
}

.mainHeading {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #1b1b1b;
}

.mainParagraph {
  font-size: 1rem;
  color: #1b1b1b;
}

/* ----------------------------@MediaQuery------------------------------------------ */
@media (max-width: 664px) {
  .mainCard {
    width: 15rem;
    margin: 1rem;
  }

  .mainImg {
    width: 15rem;
    height: 15rem;
  }
}
