.fullBlogCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3rem 3rem 1rem 3rem;
}

.fullBlogHeader {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.fullBlogCategory {
  font-size: 1rem;
  padding: 2rem 0;
}

.fullBlogPostTile {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0;
  padding: 0 2rem;
  font-weight: 400;
}

.fullBlogPostedBy {
  font-size: 0.7rem;
  font-style: italic;
  padding: 1rem 0;
}

.fullBlogImgContainer {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2rem;
}

.fullBlogImgContainer img {
  width: 25rem;
  height: 25rem;
  box-shadow: 0 0 5px 1px rgb(7, 54, 3);
}

.fullBlogContent {
  margin-bottom: 5rem;
  background-color: #fff;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  letter-spacing: 0.1rem;
  text-align: left;
}

/* ----------------------------@MediaQuery------------------------------------------ */
@media (max-width: 664px) {
  .fullBlogCard {
    width: 100%;
    margin: 3rem 0 1rem 0;
  }

  .fullBlogImgContainer img {
    width: 15rem;
    height: 15rem;
  }

  .fullBlogContent {
    margin-bottom: 2rem;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
  }
}
